
$primary-regular-font: 'Montserrat-regular';

$body-family: 'Montserrat-regular';
$heading-font-family: 'Axiforma';

$body-color: #142649;
$primary-color: #142649;
$primary-color-2:#1a49ba;
$primary-color-3: #144475;
$primary-color-4: #018ac4;
$primary-color-5:#0084f4;
$primary-color-6:#0f307f;
$secondary-color:#f49331;

$light-blue:#c6e4fd;


$heading-color: #142649;
$heading-color-2: #193366;
$white-color: #ffffff;
$black-color: #000000;
$black-color-2:#1e1e1e;
$black-color-3:#252b42;
$black-color-op-6:rgba(0, 0, 0, 0.6);

$light-green:#00c48c;
$light-green-1:#d8f5ed;


$grey-color-1:#3c3e4d;
$grey-color-2:#939bb4;
$grey-color-4:rgba(225,242,254,.4);
$grey-color-3:#F8F8FA;
$grey-color-5:#d5e9fa;
$grey-color-6:#F8F8FA;
$light-cyan:#d8f5ed;
$light-ylo:#f1d4b7;

$telegram-color:#0088cc;
$whatsapp-color:#25d366;








$font-size: 1rem;
$transition: all ease .5s;
$border-radius: 4px;
$box-shadow: 3px 0 9px rgba(0,0,0,.08);

//fonts Path
$fonts-path: "../fonts" !default;


$telegram-color:#0088cc;
$whatsapp-color:#25d366;