@font-face {
    font-family: 'Axiforma';
    src: url('Axiforma-Regular.eot');
    src: url('Axiforma-Regular.eot?#iefix') format('embedded-opentype'),
        url('Axiforma-Regular.woff2') format('woff2'),
        url('Axiforma-Regular.woff') format('woff'),
        url('Axiforma-Regular.ttf') format('truetype'),
        url('Axiforma-Regular.svg#Axiforma-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

